<footer class="text-gray-400 text-center md:text-left py-12">
    <div class="md:flex md:justify-center md:items-center gap-8">
        <p class="text-sm">
            <a href="https://www.linkedin.com/in/geobde" class="text-gray-400 hover:text-white transition duration-300 ease-in-out">Linkedin</a>
            <span class="mx-2">|</span>
            <a href="https://github.com/geobde" class="text-gray-400 hover:text-white transition duration-300 ease-in-out">GitHub</a>
            <span class="mx-2">|</span>
            <a href="https://twitter.com/geobde" class="text-gray-400 hover:text-white transition duration-300 ease-in-out">Twitter</a>
            <span class="mx-2">|</span>
            <a href="https://bsky.app/profile/geobde.bsky.social" class="text-gray-400 hover:text-white transition duration-300 ease-in-out">Bluesky</a>
        </p>
    </div>
</footer>
