---
import config from '../config'

const { footer } = config
---

<footer class='text-gray-400 text-center md:text-left py-12'>
  <div class='md:flex md:justify-center md:items-center gap-8'>
    <p class='text-sm'>
      {
        footer.map(({ link, text }, i) => (
          <>
            <a
              href={link}
              class='text-gray-400 hover:text-white transition duration-300 ease-in-out'
            >
              {text}
            </a>
            {i + 1 !== footer?.length && <span class='mx-2'>|</span>}
          </>
        ))
      }
    </p>
  </div>
</footer>
