---
import '../styles/global.css';

const {
	title = 'George Bardi',
	description = 'George Bardi | Senior Frontend Engineer',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />

<script is:inline>
	document.documentElement.classList['add']('theme-dark');

	if (typeof localStorage !== 'undefined') {
		localStorage.setItem('theme', "dark");
	}
</script>
